@font-face {
    font-family: "Poppins";
    font-weight: 400;
    src: url(../../assets/fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: "Poppins";
    font-weight: 500;
    src: url(../../assets/fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: "Poppins";
    font-weight: 700;
    src: url(../../assets/fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: "Poppins";
    font-weight: 900;
    src: url(../../assets/fonts/Poppins-Black.ttf);
}
@font-face {
    font-family: "Roboto";
    font-weight: 700;
    src: url(../../assets/fonts/Roboto-Bold.ttf);
}
