// Fonts
$font-main: "Poppins";
$font-subtitle: "Roboto";

//Font-size
$font-size__72: 72px;
$font-size__55: 55px;
$font-size__46: 46px;
$font-size__30: 30px;
$font-size__18: 18px;
$font-size__16: 16px;
$font-size__15: 15px;
$font-size__12: 12px;

// Colors
$color_dark-blue: #112D57;
$color_white: #FFFFFF;
$color_black: #000000;
$color_gray: #5C5C5C;
$color_blue: #03D6F3;
$color_blue-green: #30D7BA;
$color_light-gray: #e5e5e5;
$color_de-gray: #dedede;
$color_gray-line: #CDCDCD;
$color_gray-inputbrdr: #d0d0d0;
$color_gray-input: #efefef;

// Gradients
$grad-home_Background: linear-gradient(230.95deg, #cb1ae8 -0.37%, #37bda6 100%);

// Shadows
$box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
