// Fonts
$font-main: "Poppins";
$font-subtitle: "Roboto";

//Font-size
$font-size__72: 72px;
$font-size__15: 15px;
$font-size__12: 12px;

// Paddings

// Colors
$color_dark-blue: #112D57;
$color_white: #FFFFFF;
$color_black: #000000;
$color_gray: #5C5C5C;
$color_blue: #03D6F3;
$color_blue-green: #30D7BA;


// Gradients
$grad-home_Background: linear-gradient(230.95deg, #cb1ae8 -0.37%, #37bda6 100%);

// Shadows
