.headerWhite {
  position: absolute;
  top: 0;
  height: 180px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 11.94% 0 11.37%;
  color: $color_white;

  @include media(tablet-lg) {
    padding: 25px 24px;
    height: 108px;
  }
  &Logo {
    display: block;
    height: 78px;
    width: 206px;
    background-image: url(../../assets/images/logo-figmaland.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

    @include media(tablet-lg) {
      height: 52px;
      width: 120px;
      margin: 0 auto 0 0;
    }
  }
  &Links {
    @include media(tablet-lg) {
      display: none;
    }
    &Link {
      color: $color_white;
      margin: 0 25px;
      font-family: $font-main;
      font-style: normal;
      font-weight: normal;
      font-size: $font-size__15;
      line-height: 27px;
      text-align: center;
      letter-spacing: 0.2px;
    }
  }
  &Button {
    height: 52px;
    width: 22.94%;
    max-width: 153px;
    min-width: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid $color_white;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
    border-radius: 39px;
    font-family: $font-main;
    font-style: normal;
    font-weight: 500;
    font-size: $font-size__16;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: $color_white;
  }
  &Burger {
    display: none;
    cursor: pointer;
    height: 53px;
    width: 66px;
    background-image: url(../../assets/images/logo-white-burger.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

    @include media(tablet-lg) {
      display: block;
      margin: 0 0 0 5.16%;
    }
  }
}
